<div class="m-5">
  <h5>Highlight</h5>
    <div class="row m-5">
      @for (course of courses; track course.course_id) {
        <div class="col-3">
          <div class="row card" style="width: 18rem;">
            <div class="col-12 d-flex justify-content-center">
              <img [src]="'/' + course?.course_image" class="card-img-top" style="width: 100px; height: 100px;">
            </div>
            <div class="card-body">
              <div class="text-center mb-2">
                <p class="card-text">{{ course?.title }}</p>
              </div>
              <div class="p-2 bg-secondary text-light mb-2">
                <p class="card-text">{{ course?.description }}</p>
              </div>
              <div class="mb-5">
                <p class="card-text">{{ course?.lecturer }}</p>
              </div>
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <p class="card-text">{{ course?.duration }} ซม.</p>
                </div>
                <div class="col-6">
                  <button class="btn btn-primary">รายละเอียด</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

    <div class="row d-flex justify-content-end">
      <div class="col-2">
        <p><a class="text-decoration-none text-dark" href="/allcourse">หลักสูตรทั้งหมด</a></p>
      </div>
    </div>
</div>
